# Odocoileus virginianus v1.0
#
# odoco-web.service.template
#

[Unit]
Description=Odoco Web Interface
After=network.target

[Service]
User={{USER}}
WorkingDirectory={{INSTALL_DIR}}/www
ExecStart=/usr/bin/authbind --deep {{INSTALL_DIR}}/venv/bin/gunicorn --bind 0.0.0.0:80 --workers {{WORKERS}} app:app
Restart=on-failure
RestartSec=5s
Environment="PYTHONPATH={{INSTALL_DIR}}/www"

# Límites de recursos
MemoryMax=256M
CPUQuota=80%

[Install]
WantedBy=multi-user.target

