# Odocoileus virginianus v1.0
#
# odoco-web.service.template
#

[Unit]
Description=Odoco Web Interface
After=network.target

[Service]
User=rpi
WorkingDirectory=/home/rpi/Odoco/www
ExecStart=/usr/bin/authbind --deep /home/rpi/Odoco/venv/bin/gunicorn --bind 0.0.0.0:80 --workers 2 app:app
Restart=on-failure
RestartSec=5s
Environment="PYTHONPATH=/home/rpi/Odoco/www"

# Límites de recursos
MemoryMax=256M
CPUQuota=80%

[Install]
WantedBy=multi-user.target

